*
{
    margin: 0;
    padding: 0;
}

.arredonda
{
    border-radius: 10px;
}

.arredonda_top
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

body
{
    background-color: #169d99;
}

.body
{
    max-height:100%;
    width: 100%;
    overflow: auto;
    display: block;
}

.top
{
    height: 5em;
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #070743;
}

.title_top
{
    margin: auto;
    color: #b9cc01;
    font-size: larger;
}

.menu
{
    height: 3em;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    background-color: #28285c;
}

.item_menu
{
    margin: auto;
}

a
{
    text-decoration: none;
    color: #b9cc01;
}

.body_site
{
    width: 98%;
    max-height: 100%;
    background-color: #2c6b74;
    padding-bottom: 0.5%;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}

@media(max-width: 1000px){
    .body_site{
        display: flex;  
        flex-wrap: wrap;
    }
   }

.body_item
{
    max-width: 30em;
    height: 14em;
    background-color: rgb(53, 99, 99);
    border: 2px solid black;
    margin: auto;
    margin-top: 0.5em;
    display: inline;
}

@media(max-width: 1000px){
    .body_item{
        float: right;
        
    }
   }

.title_car
{
    display: block;
    width: 100%;
    height: 17%;
    text-align: center;
    padding-top: 3%;
    background-color: rgb(5, 49, 49);
    color: #b9cc01;
}

.local_img
{
    display: block;
    width: 100%;
    height: 80%;
}

.img_car
{
    min-width:100%;
    max-height:98.5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.site_footer
{
    width: 98%;
    height: 3.45em;
    background-color: #221d34;
    display: flex;
    margin: auto;
}

.fone
{
    margin: auto;
    color: #b9cc01;
}

/*Style do dashBoard*/

.body_item_db
{
    max-width: 30em;
    max-height: 14em;
    background-color: rgb(53, 99, 99);
    border: 2px solid black;
    margin: auto;
    margin-top: 0.5em;
    display: inline;
}

.title_item
{
    display: block;
    max-width: 7em;
    background-color: #5736D9;
    margin-top: -10px;
    margin-left: 6px;
}

.value_item
{
    display: block;
    width: 12em;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px;
}
